{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Spell Check{% endblock %}</h1>
{% endblock %}


{% block content %}
  <form method="post">
    <label for="inputtext">Text Input</label>
    <br>
    <textarea style="width: 80%; height: 50%" name="inputtext" id="inputtext" required></textarea>
    <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
    <br>
    <input type="submit" value="Check Spelling">
  </form>
  {% if textout %}
    <h3>Results</h3>
    <h4>Input Text</h4>
    <p id="textout">{{textout}}</p>
    <h4>Misspelled Words</h4>
    <p id="misspelled">{{misspelled}}</p>
  {% endif %}

{% endblock %}